.advantages-type {
  background-color: #eeeeee;
  width: 320px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  position: relative;
}

.advantages-type__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.advantages-type__description {
  margin-bottom: 0;
}

.advantages-type--square::after,
.advantages-type--road::after {
  content: "";
  border-bottom: 1px solid #d6d6d6;
  width: 280px;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.advantages-type--bridge {
  background-color: @back-blue;
  padding: 39px 16px 35px 15px;
  color: @white;
}

.advantages-type--city {
  padding: 55px 12px 39px 13px;
  background-color: @back-blue;
  color: @white;
}

.advantages-type--free {
  padding: 22px 22px 24px 22px;
  background-color: @back-gray;
}

.advantages-type--road {
  padding: 25px 41px 24px 42px;
  background-color: @back-gray;
}

.advantages-type--square {
  padding: 26px 26px 24px 26px;
  background-color: @back-gray;
}

@media (max-width: @mobile-width) {
  .advantages-type__title br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages-type {
    width: 256px;
    box-sizing: border-box;
  }

  .advantages-type--city {
    padding: 40px 32px 43px 32px;
  }

  .advantages-type--bridge {
    padding: 43px 36px 40px 36px;
  }

  .advantages-type--square {
    padding: 52px 33px 52px 33px;
  }

  .advantages-type--road {
    padding: 41px 48px 41px 46px;
  }

  .advantages-type--free {
    padding: 42px 56px 41px 41px;
  }

  .advantages-type__title {
    line-height: 26px;
  }

  .advantages-type--square::after,
  .advantages-type--road::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages-type {
    width: 400px;
  }

  .advantages-type--city {
    padding: 47px 52px 56px 53px;
  }

  .advantages-type--bridge {
    padding: 51px 78px 53px 79px;
  }

  .advantages-type--square {
    padding: 43px 43px 62px 42px;
  }

  .advantages-type--road {
    padding: 42px 54px 62px 54px;
  }

  .advantages-type--free {
    padding: 43px 55px 62px 55px;
  }
}
