.advantages {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages__image {
  border: 2px solid green;
  min-height: 260px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
  }


  .advantages__item {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__image--image-bridge {
    order: -1;
  }

  .advantages__image {
    min-height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__image--image-bridge {
    order: -1;
  }
}
