.feedback {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feedback__name {
  color: #333333;
  font-weight: normal;
  font-size: 14px;
}

.feedback__value {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feedback__value::placeholder {
  color: @black;
}

.feedback__push {
  margin: 51px 21px 48px 19px;
  padding: 18px 33px 14px 32px;
  background-color: @back-blue;
  font-size: 21px;
  color: @white;
}

.feedback__message-item {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
