.gallery {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    margin: 0;
    width: 1200px;
  }
}
