.main-header--main-page {
  margin: 0 auto;
  padding: 47px 18px 11px 17px;
}

.main-header--photo {
  margin: 0 auto;
  padding: 32px 9px 20px 12px;
}

.main-header__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.main-header__about {
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .main-header--main-page {
    padding: 43px 124px 56px 124px;
  }

  .main-header--photo {
    padding: 65px 155px;
  }
}

@media (min-width: @desktop-width) {
  .main-header--main-page {
    padding: 55px 359px 41px 358px;
  }

  .main-header--photo {
    padding: 102px 372px 67px 370px;
  }

}
