.main-header--main-page {
  margin: 32px 18px 27px 17px;
}

.main-header__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.main-header__about {
  line-height: 24px;
}

.main-header--photo {
  margin: 31px 9px 20px 12px;
}
