.main-header {
  padding: 36px 6px 16px 8px;
  margin-top: 32px;
  position: relative;
}

.main-header--photo {
  margin: 0 auto;
  padding: 32px 9px 20px 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-header__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.main-header__about {
  line-height: 24px;
  display: inline-block;
  text-align: center;
}

.main-header--main-page {
  margin: 0 auto;
  padding: 47px 18px 11px 17px;
  width: 285px;
}

@media (min-width: @tablet-width) {
  .main-header {
    padding-top: 64px;
    padding-bottom: 60px;
  }

  .main-header--main-page {
    width: 520px;
    padding: 43px 123px 52px 125px;

    & br {
      display: none;
    }
  }

  .main-header--photo {
    padding: 65px 155px;
    border: none;
  }

  .main-header__heading--photo {
    font-size: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-header--main-page {
    padding-top: 55px;
    padding-bottom: 41px;
  }

  .main-header--photo {
    padding: 102px 372px 67px 370px;
  }
}
