.map {
  box-sizing: border-box;
  position: relative;
}

.map__marker {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 161px;
  left: 146px;
}

@media (min-width: @tablet-width) {
  .map__marker {
    left: 370px;
    top: 164px;
  }
}

@media (min-width: @desktop-width) {
  .map__marker {
    left: 586px;
    top: 162px;
  }
}
