.map {
  width: 320px;
  height: 350px;
  margin-top: 49px;
  box-sizing: border-box;
  position: relative;
}

.map__image-tablet,
.map__image-desktop {
  display: none;
}

.map::before {
  content: "";
  background: url("../img/icon-map-marker.svg") no-repeat;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 161px;
  left: 146px;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    height: 350px;
  }

  .map__image-tablet {
    display: block;
  }

  .map__image,
  .map__image-desktop {
    display: none;
  }

  .map::before {
    left: 370px;
    top: 164px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
  }

  .map__image-desktop {
    display: block;
  }

  .map__image,
  .map__image-tablet {
    display: none;
  }

  .map::before {
    left: 586px;
    top: 162px;
  }
}
