.page-header__logo {
  min-height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media (min-resolution: 2dppx) {
  .page-header__logo {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: 730px auto;
  }
}

.page-header__title--main {
  display: block;
  margin: 0 auto;
  padding-top: 91px;
}

.page-header__logo--photo {
  min-height: 214px;
  padding-top: 52px;
  box-sizing: border-box;
  background-position: 50% bottom;
}

.page-header__title--photo {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    min-height: 518px;
    background-size: 1200px auto;
  }

  .page-header__logo--photo {
    background-size: 900px auto;
  }

  @media (min-resolution: 2dppx) {
    .page-header__logo {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 1000px auto;
    }

    .page-header__logo--photo {
      background-size: 900px auto;
    }
  }

  .page-header__title--main {
    width: 461px;
    height: 350px;
    padding-top: 77px;
  }

  .page-header__logo--photo {
    padding-top: 95px;
    min-height: 290px;
  }

  .page-header__title--photo {
    width: 457px;
    height: 78px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 100%;
  }

  .page-header__logo--photo {
    background-size: 1200px auto;
  }

  @media (min-resolution: 2dppx) {
    .page-header__logo {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 1000px auto;
      background-size: cover;
    }

    .page-header__logo--photo {
      background-size: 1200px auto;
    }
  }

  .page-header__title--main {
    width: 461px;
    height: 350px;
  }
}
