.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 26px;
  position: relative;
}

.page-footer__title {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.page-footer__copyright-author {
  width: 121px;
  display: flex;
  justify-content: center;
}

.page-footer__link {
  margin-left: 5px;
  display: block;
}

.page-footer__copyright-text {
  margin: 0;
  padding-top: 3px;
  display: block;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: stretch;
    padding-top: 36px;
    padding-bottom: 36px;
    align-items: center;
  }

  .page-footer__title {
    margin-left: 45px;
  }

  .page-footer__copyright-author {
    align-self: center;
    margin-left: 105px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__title {
    margin-left: 104px;
  }

  .page-footer__copyright-author {
    align-self: center;
    margin-left: 261px;
  }
}
