.presentation__item {
  margin: 32px 26px 33px 28px;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.presentation__discription {
  line-height: 24px;
  color: #333333;
}
