.search_hotel__info {
  margin: 33px 29px 27px 30px;
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.search-hotel__description {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.search-hotel__link {
  color: @white;
  margin: 27px 20px 49px 20px;
  padding: 14px 32px 18px 32px;
  background-color: @back-blue;
}
